* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #FF5943;
}

header {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #FF5943;
    z-index: 10;
    gap: 1rem;
    border-bottom: 1px solid #FF5943;
}

header h1 {
    font-size: 3rem;
    margin: 0;
    font-weight: 500;
    color: white;
    white-space: nowrap;
    font-family: "Bebas Neue";
}

.search-container input {
    padding: 0.375rem 0.75rem;
    border-radius: 1rem;
    font-family: "Montserrat";
    font-size: 1.5rem;
    transition: all 0.2s ease;
    background-color: white;
    width: 30rem;
    color: black;
    margin-right: .5rem;
    box-shadow: 0 18px 30px rgba(0, 0, 0, 0.264);
    border: none;
}

.search-container input::placeholder {
    font-size: 1.2rem;
    font-weight: 300;
    color: #ffffff;
}

#botao-busca {
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    font-family: "Bebas Neue";
    font-size: 1.5rem;
    background-color: white;
    color: #FF5943;
    box-shadow: 0 18px 30px rgba(0, 0, 0, 0.264);
}

main {
    max-width: 80rem;
    margin: 0 auto;
    margin-top: 2rem;
}

.trilha-svg {
    position: absolute;
    top: 0;
    left: 3%;
    width: 91%;
    height: 2000px;
    z-index: -1;
    pointer-events: none;
    opacity: 0.98;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    padding: 2rem;
    position: relative;
    z-index: 5;
}

.novo-card {
    width: 500px;
    max-width: 90%;
    background: #ffffff;
    border-radius: 28px;
    padding: 3rem;
    box-shadow: 0 20px 50px rgba(0,0,0,0.25);
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 6px solid white;
}

.card-frame {
    width: 100%;
    height: 185px;
    background: #f1f1f1;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.preview-img {
    width: 100%;
    border-radius: 14px;
}

.tag-area {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 3rem;
}

.tag {
    background: #FF5943;
    color: white;
    padding: 10px 24px;
    border-radius: 30px;
    font-family: "Montserrat";
}

.card-title-novo {
    font-family: "Bebas Neue";
    font-size: 3rem;
    margin-top: 3rem;
    width: 100%;
    text-align: left;
}

.techs {
    font-family: "Montserrat";
    color: #242424;
    font-size: 1rem;
    width: 100%;
    text-align: left;
}

.btn-vermais {
  align-self: flex-end;
  background: #FF5943;
  border: none;
  color: white;
  padding: 1.4rem 3.4rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s;
  margin-top: 3rem;
}

.btn-vermais:hover {
  transform: translateY(-3px);
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }

    header h1 {
        font-size: 2.3rem;
        text-align: center;
    }

    .search-container {
        display: flex;
        flex-direction: column;
        gap: .8rem;
        width: 100%;
        align-items: center;
    }

    .search-container input {
        width: 90%;
        font-size: 1.2rem;
        margin-right: 0;
    }

    #botao-busca {
        width: 60%;
        padding: .8rem;
        font-size: 1.4rem;
    }

    .trilha-svg {
        left: 0;
        width: 100%;
        height: 1800px;
    }

    .novo-card {
        width: 100%;
        padding: 2rem;
    }

    .card-title-novo {
        font-size: 3rem;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.8rem;
        white-space: normal;
        text-align: center;
        max-width: 90%;
    }

    .search-container input {
        width: 95%;
        font-size: 1rem;
    }

    .search-container input::placeholder {
        font-size: 0.9rem;
    }

    #botao-busca {
        width: 80%;
        font-size: 1.2rem;
        padding: .7rem;
    }

    .trilha-svg {
        width: 100%;
        height: 1600px;
    }

    .novo-card {
        padding: 1.8rem;
    }

    .card-title-novo {
        font-size: 2.2rem;
    }

    .tag {
        font-size: .9rem;
        padding: 8px 20px;
    }

    .btn-vermais {
        width: 100%;
        font-size: .9rem;
        padding: 1rem;
        align-self: center;
        text-align: center;
    }
}
